body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

input {
    padding: 5px;
    margin-top: 10px;
}

button {
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
}
